@import '../../../assets/sass/_colors';
@import '../../../assets/sass/_mixins';

.error-modal {
  position: fixed;
  left: 50%;
  top: 10em;
  margin-left: -15em;
  width: 30em;
  background-color: $error-background;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 0.25em;
  z-index: 11;
  @include noselect-default;
  @include hide-overflow;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-color: #000;
  z-index: 10;
}
