$em1px: 1em / 16;
$em2px: $em1px * 2;
$em4px: $em2px * 2;
$em6px: $em4px + $em2px;
$em8px: $em4px * 2;
$em10px: $em8px + $em2px;
$em12px: $em8px + $em4px;

$navbar-height: 1.75em;

$dark-background: #555;
$dark-border: #333;
$dark-text: #cde;

$light-background: #eee;
$light-background-selected: #ddd;
$light-background-active: #D6E0F5;
$light-border: #ccc;

$med-background: #ddd;

$control-background: #ccd;
$control-background-active: #A2A2B8;
$control-text-hover: #555;
$control-text: #000;
