<div class="panes">
  <div [amScrollLoader]="loadMoreArtists" class="pane">
    <ul class="artists">
      <am-artist [artist]="artist" *ngFor="#artist of artists"></am-artist>
    </ul>
  </div><!--
  --><div [amScrollLoader]="loadMoreAlbums" class="pane">
    <ul class="albums">
      <am-album [album]="album" *ngFor="#album of albums"></am-album>
    </ul>
  </div><!--
  --><div [amScrollLoader]="loadMoreTracks" ng-mousedown="panel.deselectTracks($event)" class="pane">
    <ul class="tracks">
      <am-track [track]="track" *ngFor="#track of tracks"></am-track>
    </ul>
  </div>
</div>
