@import '../../assets/sass/common';

.login {
  background-color: #eee;
  width: 16em;
  overflow: hidden;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  @include mq-small {
    height: 100%;
    width: 100%;
  }
  @include mq-med-large {
    margin: 2em auto;
    @include border-radius(0.25em);
  }
}

.title {
  background-color: #8498C7;
  color: #fff;
  padding: 0.5em;
  font-size: 1.25em;
}

.content {
  padding: 0.5em 1em;
}

.input, .submit {
  box-sizing: border-box;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 0.75em;
  width: 100%;
  @include border-radius(0.25em);
  border: none;
}

.input {
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .075);
  border: 1px solid #ccc
}

.submit {
  margin-top: 1em;
  background-color: #5879C5;
  border: 1px solid #315DC1;
  color: #fff;
  &:hover {
    background-color: #315DC1;
  }
  cursor: pointer;
}
