<form ng-submit="vm.search()" body-event-handler="search" class="controls controls-nav shrinkable controls-search">
    <div ng-show="vm.searchShown" class="dropdown-search">
        <div class="arrow"></div>
        <div ng-switch="vm.inProgress" body-event-handler="search" class="inner">
            <div ng-switch-when="true" class="search-loading">
                <ul class="search">
                    <li class="desc">Loading...</li>
                </ul>
            </div>
            <div ng-switch-default class="search-results">
                <ul ng-if="vm.searchResults.tracks.length > 0" class="search tracks">
                    <li class="desc">Tracks<span class="link-right" ng-click="vm.redirectToResults('tracks')">Show all</span></li>
                    <li track="track" ng-repeat="track in vm.searchResults.tracks"></li>
                </ul>
                <ul ng-if="vm.searchResults.albums.length > 0" class="search albums">
                    <li class="desc">Albums<span class="link-right" ng-click="vm.redirectToResults('albums')">Show all</span></li>
                    <li album="album" ng-repeat="album in vm.searchResults.albums"></li>
                </ul>
                <ul ng-if="vm.searchResults.artists.length > 0" class="search artists">
                    <li class="desc">Artists<span class="link-right" ng-click="vm.redirectToResults('artists')">Show all</span></li>
                    <li artist="artist" ng-repeat="artist in vm.searchResults.artists"></li>
                </ul>
                <ul ng-if="vm.searchResults.artists.length + vm.searchResults.albums.length + vm.searchResults.tracks.length <= 0" class="search">
                    <li class="desc">No results found</li>
                </ul>
            </div>
        </div>
    </div>
    <input ng-model="vm.searchText" class="control" type="text" placeholder="search" autocomplete="off">
    <button ng-class="{active: vm.searchShown}" type="submit" class="control">
        <i class="fa fa-search"></i>
    </button>
</form>
