<form ng-submit="vm.search()" am-body-event-handler="search" class="controls controls-nav shrinkable controls-search">
  <div ng-show="vm.searchShown" class="dropdown-search">
    <div class="arrow"></div>
    <div [ngSwitch]="inProgress" am-body-event-handler="search" class="inner">
      <div *ngSwitchWhen="true" class="search-loading">
        <ul class="search">
          <li class="desc">Loading...</li>
        </ul>
      </div>
      <div ngSwitchDefault class="search-results">
        <ul *ngIf="tracksResult.length > 0" class="search tracks">
          <li class="desc">Tracks<span class="link-right" (click)="viewResults('tracks')">Show all</span></li>
          <li am-track="track" *ngFor="#track of tracksResult"></li>
        </ul>
        <ul *ngIf="albumsResult.length > 0" class="search albums">
          <li class="desc">Albums<span class="link-right" (click)="viewResults('albums')">Show all</span></li>
          <li am-album="album" *ngFor="#album of albumsResult"></li>
        </ul>
        <ul *ngIf="artistsResult.length > 0" class="search artists">
          <li class="desc">Artists<span class="link-right" (click)="viewResults('artists')">Show all</span></li>
          <li am-artist="artist" *ngFor="#artist of artistsResult"></li>
        </ul>
        <ul *ngIf="artistsResult.length + albumsResult.length + tracksResult.length <= 0" class="search">
          <li class="desc">No results found</li>
        </ul>
      </div>
    </div>
  </div>
  <input [(ngModel)]="searchText" class="control" type="text" placeholder="search" autocomplete="off">
  <button [ngClass]="{active: vm.searchShown}" type="submit" class="control">
    <i class="fa fa-search"></i>
  </button>
</form>
