<div class="navbar" ng-controller="AudioController as audioCtrl">
    <div ng-if="isPhone" class="navbar-inner">
        <am-position-control current-audio="audioCtrl.current" position-update="audioCtrl.positionUpdate"></am-position-control>
    </div>
    <div class="navbar-inner">
        <div class="controls controls-nav unshrinkable">
            <button ng-click="audioCtrl.previousTrack()" type="button" class="control">
                <i class="fa fa-fast-backward"></i>
            </button>
            <button ng-click="audioCtrl.togglePause()" type="button" class="control">
                <i ng-if="!audioCtrl.current.isPlaying" class="fa fa-play"></i>
                <i ng-if="audioCtrl.current.isPlaying" class="fa fa-pause"></i>
            </button>
            <button ng-click="audioCtrl.nextTrack()" type="button" class="control">
                <i class="fa fa-fast-forward"></i>
            </button>
        </div>
        <am-position-control current-audio="audioCtrl.current" position-update="audioCtrl.positionUpdate" ng-if="!isPhone"></am-position-control>
        <div class="controls controls-nav unshrinkable">
            <am-playlist></am-playlist>
            <div class="control-container">
                <button ng-click="audioCtrl.volumeShown = !audioCtrl.volumeShown" ng-class="{active: audioCtrl.volumeShown}" body-event-handler="volume" type="button" class="control">
                    <i class="fa fa-volume-up"></i>
                </button>
                <am-volume-control current-audio="audioCtrl.current" volume-update="audioCtrl.volumeUpdate" ng-show="audioCtrl.volumeShown"></am-volume-control>
            </div>
            <button ng-click="appCtrl.toggleScrobblingEnabled()" ng-class="{active: appCtrl.scrobblingEnabled}" type="button" class="control">
                <i class="fa fa-lastfm"></i>
            </button>
        </div>
        <am-search></am-search>
    </div>
    <audio audio-source></audio>
</div>
