<form ng-submit="vm.search()" am-body-event-handler="search" class="controls controls-nav shrinkable controls-search">
  <div ng-show="vm.searchShown" class="dropdown-search">
    <div class="arrow"></div>
    <div [ngSwitch]="inProgress" am-body-event-handler="search" class="inner">
      <div *ngSwitchWhen="true" class="search-loading">
        <ul class="search">
          <li class="desc">Loading...</li>
        </ul>
      </div>
      <div ngSwitchDefault class="search-results">
        <ul *ngIf="tracks.length > 0" class="search tracks">
          <li class="desc">Tracks<span class="link-right" (click)="viewResults('tracks')">Show all</span></li>
          <am-track [track]="track" *ngFor="#track of tracks"></am-track>
        </ul>
        <ul *ngIf="albums.length > 0" class="search albums">
          <li class="desc">Albums<span class="link-right" (click)="viewResults('albums')">Show all</span></li>
          <am-album [album]="album" *ngFor="#album of albums"></am-album>
        </ul>
        <ul *ngIf="artists.length > 0" class="search artists">
          <li class="desc">Artists<span class="link-right" (click)="viewResults('artists')">Show all</span></li>
          <am-artist [artist]="artist" *ngFor="#artist of artists"></am-artist>
        </ul>
        <ul *ngIf="artists.length + albums.length + tracks.length <= 0" class="search">
          <li class="desc">No results found</li>
        </ul>
      </div>
    </div>
  </div>
  <input [(ngModel)]="searchText" class="control" type="text" placeholder="search" autocomplete="off">
  <button [ngClass]="{active: vm.searchShown}" type="submit" class="control">
    <i class="fa fa-search"></i>
  </button>
</form>
