<div ng-controller="PanelController" class="panes">
    <div class="pane-top" ng-if="!isDesktop">
        <div ng-if="isPhone" class="history">
            <span ng-if="selectedAlbum">
                <div class="history-item clickable" ng-click="deselectAlbum()"><span class="glyphicon glyphicon-chevron-left"></span></div>
                <div class="history-item">{{ selectedAlbum.Name }}</div>
            </span>
            <span ng-if="selectedArtist && !selectedAlbum">
                <div class="history-item clickable" ng-click="deselectArtist()"><span class="glyphicon glyphicon-chevron-left"></span></div>
                <div class="history-item">{{ selectedArtist.Name }}</div>
            </span>
        </div>
        <div ng-if="!isPhone" class="history">
            <span>
                <div class="history-item clickable" ng-click="deselectArtist()">Artists</div>
            </span>
            <span ng-if="selectedArtist">
                <div class="history-item"><span class="glyphicon glyphicon-chevron-right"></span></div>
                <div class="history-item clickable" ng-click="deselectAlbum()">{{ selectedArtist.Name }}</div>
            </span>
            <span ng-if="selectedAlbum">
                <div class="history-item"><span class="glyphicon glyphicon-chevron-right"></span></div>
                <div class="history-item">{{ selectedAlbum.Name }}</div>
            </span>
        </div>
    </div>
    <div ng-if="isArtistsShown()" scroll-loader="artistRequest.fetch()" class="pane pane-left">
        <ul class="artists">
            <li artist="artist" ng-repeat="artist in artists | limitTo: artists.length track by artist.ID" ng-class="{selected: (artist === selectedArtist)}"></li>
        </ul>
    </div>
    <div ng-if="isAlbumsShown()" scroll-loader="albumRequest.fetch()" class="pane pane-mid">
        <ul class="albums">
            <li album="album" ng-click="select()" ng-repeat="album in albums | limitTo: albums.length track by album.ID" ng-class="{selected: (album === selectedAlbum)}"></li>
        </ul>
    </div>
    <div ng-mousedown="deselectTracks($event)" ng-if="isTracksShown()" scroll-loader="trackRequest.fetch()" class="pane pane-right">
        <ul class="tracks">
            <li track="track" track-area="trackArea" ng-repeat="track in tracks | limitTo: tracks.length track by track.ID"></li>
        </ul>
    </div>
</div>
