<div class="navbar" ng-controller="PlayerController">
    <div ng-if="isPhone" class="navbar-inner">
        <div class="width100 controls controls-nav">
            <div class="width100 progress-container control">
                <div class="progress-bar progress-position"></div>
            </div>
        </div>
    </div>
    <div class="navbar-inner">
        <div class="controls controls-nav unshrinkable">
            <button type="button" class="control">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button type="button" class="control">
                <span class="glyphicon glyphicon-play"></span>
            </button>
            <button type="button" class="control">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
        <div ng-if="!isPhone" class="controls controls-nav shrinkable">
            <div ng-click="positionChange($event)" class="prog-container control">
                <div ng-style="{width: (position * 100) + '%'}" class="prog-bar"></div>
            </div>
        </div>
        <div class="controls controls-nav unshrinkable">
            <button type="button" ng-click="togglePlaylistHandler()" ng-class="{active: playlistShown}" body-event-handler="playlist" class="control">
                <span class="glyphicon glyphicon-list"></span>
                <playlist></playlist>
            </button>
            <button type="button" ng-click="toggleVolumeHandler()" ng-class="{active: volumeShown}" body-event-handler="volume" class="control">
                <span class="glyphicon glyphicon-volume-up"></span>
                <volume-control></volume-control>
            </button>
            <button type="button" ng-click="toggleScrobblingEnabled()" ng-class="{active: scrobblingEnabled}" class="control">
                <span class="lastfmicon"></span>
            </button>
        </div>
        <form ng-submit="initSearch()" ng-controller="SearchController" body-event-handler="search" class="controls controls-nav shrinkable controls-search">
            <input ng-model="searchText" class="control" type="text" placeholder="search" autocomplete="off">
            <button type="submit" ng-class="{active: searchShown}" class="control">
                <span class="glyphicon glyphicon-search"></span>
                <search></search>
            </button>
        </form>
    </div>
    <audio-player></audio-player>
</div>
