<div class="panes">
  <div [amScrollLoader]="loadArtists" class="pane">
    <ul class="artists">
      <li am-artist [artist]="artist" *ngFor="#artist of artists"></li>
    </ul>
  </div><!--
  --><div [amScrollLoader]="loadAlbums" class="pane">
    <ul class="albums">
      <li am-album [album]="album" *ngFor="#album of albums"></li>
    </ul>
  </div><!--
  --><div [amScrollLoader]="loadTracks" ng-mousedown="panel.deselectTracks($event)" class="pane">
    <ul class="tracks">
      <li am-track [track]="track" *ngFor="#track of tracks"></li>
    </ul>
  </div>
</div>
