$dark-background: #555;
$dark-border: #333;
$dark-text: #cde;

$light-background: #eee;
$light-background-selected: #E0DAE2;
$light-background-active: #D6E0F5;
$light-border: #ccc;

$med-background: #ddd;

$control-background: #ccd;
$control-background-active: #A2A2B8;
$control-text-hover: #555;
$control-text: #000;

$error-background: #FF6666;
